.user {
  position: absolute;
  top: 6px;
  right: 250px;
  margin: 0px;
  padding: 0px;
  height: 50px;
  /* width: 100px; */
  display: grid;
  justify-items: start;
}


.userUl {
  display: none;
  position: absolute;
  width: 100px;
  top: 40px; 
  margin: 0px;
  padding: 0px;
}
.userUl a {
  text-decoration: none;
  color: white;
}

.user:hover .userUl, .userUl:hover { 
  display: block;   
}



