


.layers_Container {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--colorSoftGrey);
  display: none;
}
.layers_Container p { 
  font: message-box;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  }
  .layersWindowTitle {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: rgb(255, 140, 23);
   }

     .layersWindowTitleTitle {
       width: 100px;
       height: 30px;
       /* background-color: green; */
       font: message-box;
       font-weight: bold;
       font-size: 14px;
       padding-left: 5px;
       padding-top: 5px;
       flex-wrap: wrap;
     }
       .layersWindowTitleTitle p{
         padding-top: 2px;
         padding-left: 8px;
       }

     .layersWindowTitleClose {
       width: 28px;
       background-color: rgb(255, 214, 0);
       margin-left: auto;
     }

       .layersWindowTitleClose p {
         padding-top: 4px;
         padding-left: 8px;
       }

  .layersWindowData {
    max-height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


  




