
user-menu {
  position: absolute;
  top: 5px;
  right: 210px;
  margin-bottom: 5px;
 
 }
 .user_Container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 150px;
  background-color: var(--colorSoftGrey);
  display: none; 
} 
.geocoder_Container{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 200px;
  height: 30px;
} 

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  height: 30px !important;
  margin-left: 0px !important;
}

.mapboxgl-ctrl-geocoder {
  width: 50px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  max-height: 40px !important;
  min-height: 40px !important;
  padding: 0px 0px 10px 0px!important;
  margin: 0px !important;
} 
.mapboxgl-ctrl-geocoder--input {
  width: 50px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  max-height: 30px !important;
  min-height: 30px !important;
  padding: 0px 0px 0px 30px!important;
}

.mapboxgl-ctrl-geocoder--icon {
  margin:  0px 0px 0px -8px !important;
}
