.projects_Container{
  position: absolute;
  top: 5px;
  left: 40px;
  min-width: 110px;
  max-height: 500px;
  background-color: var(--colorSoftGrey);
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: none;
} 
.projects_Container ul, li, select {
  display: block;
}
.projects_Container ul {
  margin: 0px;
  padding: 5px;
}
.projects_Container li{
  margin: 0px;
  padding-left: 5px;
}
 
.background_Container{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 228px;
  max-height: 500px;
  background-color: var(--colorSoftGrey);
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: none;
} 




.raster_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 75px;
  left: 40px;
  background-color: var(--colorSoftGrey);
  display: none;
} 
.vector_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 110px;
  left: 40px;
  background-color: var(--colorSoftGrey);
  display: none;
} 


.basicWC_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 140px;
  background-color: var(--colorSoftGrey);
  display: none;
} 
