.open {
  position: absolute;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  background-color:var(--backgroundButtons);
  border: 2px solid var(--colorSoftGrey);
}

.open:hover{
  background-color:var(--colorSoftGrey); 
  cursor: pointer;
}