.open {
  position: absolute;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  background-color:var(--backgroundButtons);
  border: 5px solid var(--colorSoftGrey);
}

.open:hover{
  background-color:var(--colorSoftGrey); 
  cursor: pointer;
}