:root {
  /* Colors */
  --backgroundColorHeader: #2a2a2aa5;
  --backgroundColorFooter: #333;
  --colorHardGrey:rgb(112, 112, 112);
  --colorSoftGrey: #ccc;
  --colorSoftGreen: #33b73ca9;
  --backgroundButtons: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-radius:0px!important;
}
html, body {
  font-size: 62.5%;
  /* background-color:var(--backgroundColorHeader); */  
  overflow: hidden;   
}
.map {
  width: 100vw;
  height: 100vh;
}
.sectionLeft {
  position:absolute;
  top:0px;
  left:0px;
  padding-top: 5px;
  width: 50px;
  height: 100vh;
  background-color: var(--backgroundColorHeader);
}

.projects_Container{
  position: absolute;
  top: 5px;
  left: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
} 
.projects_Container ul, li, select {
  display: block;
}
.projects_Container ul {
  margin: 0px;
  padding: 5px;
}


.background_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
} 
.raster_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 95px;
  left: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
} 
.vector_Container{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 140px;
  left: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
} 


















.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}


