.copyCoor_Container {
  position: absolute;
  bottom: 45px;
  right: 5px;
  width: 190px;
  height: 25px;
  padding: 5px;
  background-color: var(--colorSoftGrey);
  z-index: 100;
}
.coordinates_Container{
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 190px;
  height: 25px;
  padding: 5px;
  background-color: var(--colorSoftGrey);
  z-index: 50;
} 
.zoomDegree_Container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 190px;
  height: 25px;
  padding: 5px;
  background-color: var(--colorSoftGrey);
}

/*CameraHeight <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.cameraHeight_Container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 70px;
  height: 30px;
  background-color:var(--backgroundButtons); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapboxgl-ctrl-scale {
  background-color:var(--backgroundButtons)!important; 
  font-size: 1.5rem !important;
  border: none!important;
  padding: 0px!important;
  width: 60px!important;
  margin-left: 10px;
}
/*CameraHeight <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
