
.geolocate_Container{
  position: absolute;
  top: 50px;
  right: 5px;
  background-color: var(--colorSoftGrey);
} 
.NavigationControl_Container{
  position: absolute;
  top: 79px;
  right: 5px;
  background-color: var(--colorSoftGrey);
} 

.layers_Container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 170px;
  right: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
}
.legends_Container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 215px;
  right: 50px;
  background-color: var(--colorSoftGrey);
  display: none;
}